<% user = controller.user %>

<div id="user-details">
  <header>
    <h2><%= user.display_name %></h2>
    <%= render partial: 'user_action_buttons', as: :user, object: user %>
  </header>

  <div>

    <div id="account-info">
      <h3>Account Info</h3>
      <dl id="user-account">
        <dt>First Name:</dt>
        <dd><%= user.first_name %></dd>

        <dt>Last Name:</dt>
        <dd><%= user.last_name %></dd>

        <dt>Email Address</dt>
        <dd><%= user.email %></dd>

        <dt>Created:</dt>
        <dd><%=l user.created_at %></dd>
      </dl>
    </div>

    <% if has_permission?(:manage_users) %>
      <div id="roles">
        <h3>Authorized Roles</h3>
        <div>
          <ul>
            <% user.roles.each do |role| %>
              <li data-toggle="tooltip" data-placement="bottom"
                title="Permissions: <%= role.permissions.join(', ') %>"><%= role.name %></li>
            <% end %>
          </ul>
        </div>

        <h3>Permissions</h3>
        <div>
          <ul>
            <% user.roles.pluck(:permissions).flatten.uniq.sort.each do |perm| %>
              <li><%= perm %></li>
            <% end %>
          <ul>
        </div>
      </div>
    <% end %>

    <div id="membership-history">
      <header>
        <h3>Membership History</h3>
        <% if has_permission?(:manage_users) %>
          <%= link_to('Add Membership',
                      new_admin_user_membership_path(user_id: user),
                      class: 'btn btn-success btn-sm') %>
        <% end %>
      </header>
      <div>
        <table>
          <thead>
            <tr>
              <th>Status</th>
              <th>Start Date</th>
              <th>Expiration Date</th>
              <th>Purchase Date</th>
              <th>Amount Paid</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'membership_row', as: 'membership',
              collection: controller.memberships %>
            </tbody>
          </table>
        </div>
    </div>

  </div>
</div>
