<%
  show_sidebar!
  page_title 'About Us'

  content_for :sidebar_top do
    %>
    <div id="jersey">
      <%= image_tag 'team-o-rodda-jersey.png' %>
    </div>
    <%
  end
%>
<div id="about-us">
  <section id="team-description">
    <%= image_tag('team-photo.jpg', id: 'team-photo') %>

    <p>Team Oregon was established in 1987 to develop the cycling abilities of
      its members and the sport of competitive cycling with a focus on the
      Pacific Northwest.</p>

    <p>As we begin our thirty-second year, we continue to celebrate and support
      the cycling community by welcoming new members of all skill members,
      teaching proper racing skills, and helping our members achieve their
      cycling goals.</p>

    <p>Team Oregon operates a team-oriented model to ensure that all riders have
      a place. Experienced riders share their knowledge with less experienced
      team members, enabling growth and skill development. In addition to
      racing, members are encouraged to be active in the club and assist in the
      club’s operations and projects. Team Oregon actively promotes races,
      training rides, training camps, community cycling events, and
      coaching.</p>

    <p>The team’s mission is to enhance the sport of cycling in Oregon by
      organizing an accessible team with resources to help all members reach
      their goals within the sport.</p>

    <p>We’d love to meet you! Feel free to <%= link_to 'contact us',
      new_contact_path %> with any questions.</p>
  </section>

  <section id="leaders">
    <h2>Team Leadership</h2>
    <div>
      <%= leader_bio(name: "Tom James", title: "Board Member", image: 'tom',
                     bio: <<-BIO)
        1992 35+ National Points Race Champion @ Marymoor Veledroome, 1992 35+
        2nd OBRA Criterium Championship, 1992 Elite OBRA 4K Individual Pursuit
        Champion and 1992 2nd Alpenrose Six-Day Madison. Acheived Cat 1 both
        road and track. Raced Pro on ESPN II for one day with Canadian Team.
        Helped launch OBRA in the early days of its creation. Raced in many Pro
        1,2 races such as Tour of Willamette, Cascade Classic, Mt Hood Classic,
        and The Mayors Cup Criterium.
        BIO
      %>
      <%= leader_bio(name: 'Ryan Menze', title: 'Board Member, Treasurer',
                     image: 'ryan', bio: <<-BIO)
        Ryan – also known as R Money – will continue to serve as Team Oregon’s
        Treasurer. When he’s not on his bike, you can find Ryan cross-training
        and planning his next ride.
        BIO
      %>
    </div>
    <div>
      <%= leader_bio(name: "Andrew Springer", title: "Board Member") %>
      <%= leader_bio(name: 'Kelsey Ramsey',
                     title: 'Board Member, Clothing Director',
                     image: 'kelsey',
                     bio: <<-BIO)
        Kelsey loves to race smart with some fitness to back him up. He shows up
        because he likes to have fun and bring up team members around him. As
        the acting clothing director, he is working hard to make sure everybody
        looks great.
        BIO
      %>
    </div>
    <div>
      <%= leader_bio(name: 'John Wilger', title: 'Board Member, IT Director',
                     image: 'johnw', bio: <<-BIO)
        You may find John trying to get over his fear of racing on the track
        this season. Which is an odd thing for him to fear considering he is
        perfectly comfortable getting into an aero tuck, sitting on the top-tube
        of his bike, and coming down off of Bald Peak at 55 mph. Anxiety is
        weird like that. ¯\\_(ツ)_/¯
        BIO
      %>
    </div>
  </section>
</div>
