<tr>
  <td><%= user.display_name %></td>
  <td><%= mail_to(user.email) %></td>
  <td class="<%= user.membership_status.downcase %>-member">
    <%=t "membership_status.#{user.membership_status}",
         ends_on: l_date(user.membership_ends_on) %>
  </td>
  <td><%= user.membership_type_name %></td>
  <td class="boolean">
    <%= 'yes' if user.added_to_mailing_list? %>
  </td>
  <td class="boolean">
    <%= 'yes' if user.invited_to_slack? %>
  </td>
  <td class="roles">
    <ul>
      <% user.roles.each do |role| %>
        <li><%= role.name %></li>
      <% end %>
    </ul>
  </td>
  <td class="actions">
    <%= render partial: 'user_action_buttons', as: :user, object: user %>
  </td>
</tr>
