<!DOCTYPE html>
<html lang="<%= I18n.locale %>" xml:lang="<%= I18n.locale %>">
  <head>
    <title>Team Oregon<%= page_title %></title>
    <%= csrf_meta_tags %>

    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="<%= I18n.locale %>">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body class="<%= body_class %>">
    <nav id="page-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to image_tag('logo.png'), root_url, id: 'header-logo' %>
      <div id="navbarSupportedContent">
        <ul id="main-links">
          <%= yield :main_links %>
        </ul>
        <ul id="user-links">
          <% if logged_in? %>
            <li id="logged-in-user-links">
              <a href="#" id="user-dropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><%= current_user.display_name %></a>
              <div class="dropdown-menu" arial-labelledby="user-dropdown">
                <ul>
                  <%= main_nav_link('My Account', user_path) %>
                  <%= admin_site_link %>
                  <%= main_nav_link('Sign Out', session_path, method: :delete) %>
                </ul>
              </div>
            </li>
          <% else %>
            <%= main_nav_link('Log In', new_session_path) %>
          <% end %>
        </ul>
      </div>
    </nav>
    <div id="content" class="<%= 'sidebar' if show_sidebar? || show_admin_sidebar? %>">
      <%= render partial: 'layouts/messages' %>
      <div class="row">
        <%= render(partial: 'layouts/admin_sidebar') if show_admin_sidebar? %>
        <%= yield %>
        <%= render(partial: 'layouts/sidebar') if show_sidebar? %>
    </div>
    </div>
  </body>
</html>
