<!DOCTYPE html>
<html>
  <head>
    <title>Team Oregon<%= page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="page-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to image_tag('logo.png'), root_url, id: 'header-logo' %>
      <div id="navbarSupportedContent">
        <ul id="main-links">
          <%= main_nav_link 'Home', root_path %>
          <%= main_nav_link 'Sponsors', page_path(:sponsors) %>
        </ul>
        <ul id="user-links">
          <% if current_user.present? %>
            <li id="logged-in-user-links">
              <a href="#" id="user-dropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><%= current_user.display_name %></a>
              <div class="dropdown-menu" arial-labelledby="user-dropdown">
                <ul>
                  <% with_permission_to(:manage_users) do %>
                    <%= main_nav_link('Manage Users', admin_users_path) %>
                  <% end %>
                  <%= main_nav_link('Sign Out', destroy_user_session_path, method: :delete) %>
                </ul>
              </div>
            </li>
          <% else %>
            <%= main_nav_link('Log In', new_user_session_path) unless current_user.present? %>
          <% end %>
        </ul>
      </div>
    </nav>
    <div id="content" class="<%= 'sidebar' if show_sidebar? %>">
      <%= render partial: 'layouts/messages' %>
      <div class="row">
        <%= yield %>
        <%= render(partial: 'layouts/sidebar') if show_sidebar? %>
    </div>
    </div>
  </body>
</html>
