<!DOCTYPE html>
<html>
  <head>
    <title>Teamo</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="page-header">
      <%= link_to image_tag('logo.png'), root_url, class: 'navbar-brand mr-0 mr-md-2' %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
