<!DOCTYPE html>
<html>
  <head>
    <title>Teamo</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="page-header">
      <%= link_to image_tag('logo.png'), root_url, id: 'header-logo' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent">
        <ul>
          <%= main_nav_link 'Home', root_path %>
          <%= main_nav_link 'Sponsors', page_path(:sponsors) %>
        </ul>
      </div>
    </nav>
    <div id="content" class="<%= 'sidebar' if show_sidebar? %>">
      <div class="row">
        <%= yield %>
        <%= render(partial: 'layouts/sidebar') if show_sidebar? %>
    </div>
    </div>
  </body>
</html>
